camunda.bpm:
  admin-user: # user-id, password, user-name for camunda web app
    id: demo
    password: demo
    firstName: Demo
  filter:
    create: All tasks # the name for "show all" filter
  run.cors:
    enabled: true
    allowed-origins: "*"

# uncomment below to customize datasource used in camunda process engine
# spring:
#   datasource:
#     driver-class-name: com.mysql.cj.jdbc.Driver
#     url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:camunda}?serverTimezone=UTC
#     username: ${MYSQL_USER:root}
#     password: ${MYSQL_PASSWORD:root}
